<div class="gsr-column gsr-icon-colmWidth">
  <ng-container *ngIf="isAccordion && !isSubRow">
    <ng-container *ngIf="(columnHeaderInfo.level == 1 && columnHeaderInfo.tableType == 'levelDecider') else alternateRow;">
      <gsr-icon [type]="'accordion'" [showContent]="record.showRow" (click)="changeTable(columnHeaderInfo.level,'',false,record.cusip)"></gsr-icon>
    </ng-container>
    <ng-template #alternateRow>
      <gsr-icon [type]="'accordion'" [showContent]="record.showRow" (click)="toggleAccordion(record)"></gsr-icon>
    </ng-template>
  </ng-container>
</div>

<div class="gsr-column" [style.width.%]="columnHeaderInfo.columnWidth" [ngClass]="(column.rightAlign) ? 'gsr-column-rightAlign':''"
  attr.colname="{{column.attrName}}" *ngFor="let column of columnHeaders">
  <gsr-icon *ngIf="column.openItem" type="open"></gsr-icon>
  <div [ngClass]="(column.rightAlign) ? 'gsr-column-rightAlign' :''" *ngIf="!column.accordion">{{record[column.attrName]}}</div>
  <gsr-icon *ngIf="column.searchIcon" (click)="openModal()" type="search"></gsr-icon>
</div>

<gsr-modal [columnHeaderInfo]="chi" [account]="account" *ngIf="showModal" (sendValue)="showModal=$event" [showModal]='showModal'></gsr-modal>
