    <div class="gsr-row header level-{{columnHeaderInfo.level}}">
      <div *ngIf="columnHeaderInfo.level !== 2"class="gsr-column gsr-icon-colmWidth"></div> 
      <div class="gsr-column"  [style.width.%]= "columnHeaderInfo.columnWidth" (click) = "sortColumn(column);" attr.colname="{{column.attrName}}" *ngFor="let column of columnHeaders"> {{column.colName}} <gsr-icon  *ngIf="column.filterBy" (sortIcon) = "sort=$event" [type]="column.sort"></gsr-icon> </div>
    </div>
  
    <div class="gsr-row filter" *ngIf="showFilter">
      <div  class="gsr-column gsr-icon-colmWidth"></div> 
      <div  class="gsr-column" [style.width.%]= "columnHeaderInfo.columnWidth"   attr.colname="{{column.attrName}}" *ngFor="let column of columnHeaders; let in = index">
        <input *ngIf="column.inputType==='text'"  [(ngModel)]= "column.filterValue"  class="filterInput" type="text"/>
        <input *ngIf="column.inputType==='date'"  [(ngModel)]= "column.filterValue" class="filterInput" type="date"/>
        <select class="filterInput" *ngIf="column.inputType==='dropdown'" [(ngModel)]= "column.filterValue"><option value= "">Show All</option><option *ngFor="let value of column.dropdownValues" value="{{value}}">{{value}}</option></select>
      </div>
    </div>
    
