<ng-container *ngIf="columnHeaderInfo.tableType !== 'columnTable'">
<div class="gsr-table" *ngIf="dataObj">
    <gsr-table-header [records] = "records" [dataObj] = "dataObj" (sendFilterRecords) = "records=$event" [columns] = "columnHeaders" (sendFilter)="showFilter=$event" [columnHeaderInfo] = "columnHeaderInfo"></gsr-table-header>
    <div class="gsr-table-scroller">
            <gsr-column-header [records] = "records" [showFilter] ="showFilter" [columnHeaders] = "columnHeaders" [dataObj] = "dataObj"  [columnHeaderInfo] = "columnHeaderInfo"> </gsr-column-header>
             <gsr-table-level-decider class="level-decider" *ngIf="columnHeaderInfo.levelDecider" [records] = "records" [columnHeaders] = "columnHeaders" (sendLevel) = "getLevel($event)" [showFilter] ="showFilter"  [dataObj] = "dataObj"  [columnHeaderInfo] = "columnHeaderInfo" ></gsr-table-level-decider>
                <ng-container *ngIf="!columnHeaderInfo.levelDecider">
                        <gsr-row class="gsr-row gsr-record-row"  [columnHeaders] = "columnHeaders" *ngFor="let record of records" [record]  = "record" [columnHeaderInfo] = "columnHeaderInfo"></gsr-row>
                        <div *ngIf="records.length==0" class="noResults">No records found</div>
                </ng-container>
            </div>
        </div>
    </ng-container>

<ng-container *ngIf="columnHeaderInfo.tableType === 'columnTable'">
    <div class="gsr-table" *ngIf="dataObj">
    <gsr-table-header [columnHeaderInfo] = "columnHeaderInfo"></gsr-table-header>
    <div class="columnWrapper">
            <div class="columnGroup" *ngFor="let rec of generateArray(dataObj)">
                <div class="gsr-modal-content-column column-label">{{rec.key}}</div>
                <div class="gsr-modal-content-column"> {{rec.value}}</div>
            </div>
        </div>
    </div>
</ng-container>