<div class="pagination-wrapper">
  <div class="pagination-container">
    <div class="pagination">
      <div>
        <gsr-icon [type]="'first-page'" (click)="loadRecords('first')"></gsr-icon>
      </div>
      <div>
        <gsr-icon [type]="'left-arrow'" (click)="loadRecords('prev')"></gsr-icon>
      </div>
      <div></div>
      <ng-container *ngFor="let page of pageObj">
        <div tabindex="{{page.number}}" [ngClass]="page.isClicked ? page.isClicked :''" (click)="loadRecords($event,page.number)"
          *ngIf="page.number <= recordsPerPage">
          {{page.number}}
        </div>
      </ng-container>

      <div></div>
      <div>
        <gsr-icon [type]="'right-arrow'" (click)="loadRecords('next')"></gsr-icon>
      </div>
      <div>
        <gsr-icon [type]="'last-page'" (click)="loadRecords('last')"></gsr-icon>
      </div>
    </div>
    <div class="totalPages">Pages : {{pages}}</div>
  </div>
</div>
