<ng-container *ngIf="columnHeaderInfo.level == 1">
    <gsr-row class="gsr-row" (sendLevel) = "passLevel($event)" [columnHeaders] = "columnHeaders"  *ngFor="let record of records;let in = index;" attr.id="{{record.cusip}}" attr.index = "{{in}}" [record]  = "record" [columnHeaderInfo] = "columnHeaderInfo"></gsr-row>
    <div *ngIf="records.length==0" class="noResults">No records found</div>
</ng-container> 

<ng-container *ngIf="columnHeaderInfo.level == 2">
    <div class="gsr-row gsr-accordionHeader level-{{columnHeaderInfo.level}}" (click) = "changeTable(columnHeaderInfo.level,'',true)">
        <div  class="gsr-column"><span attr.level="{{columnHeaderInfo.level}}"  class="iconStyle collapse"></span><span>{{dataObj.id}}</span></div>
    </div>
    <div class="gsr-row gsr-accordionHeader" (click) = "changeTable(columnHeaderInfo.level,in,false,columnHeaderInfo.cusip)" *ngFor="let record of records;let in = index;">
        <div  class="gsr-column companyColumns"><span attr.level="{{columnHeaderInfo.level}}" attr.index="{{in}}" class="iconStyle expand"></span><span>{{record.company}}</span></div>
    </div>
</ng-container> 

 <ng-container *ngIf="columnHeaderInfo.level == 3">
    <div class="gsr-row gsr-accordionHeader" (click) = "changeTable(columnHeaderInfo.level,'',false,columnHeaderInfo.cusip)">
         <div  class="gsr-column"><span attr.level="{{columnHeaderInfo.level}}" class="iconStyle collapse"></span><span>{{dataObj[columnHeaderInfo.cusip][columnHeaderInfo.index].company}}</span></div>
    </div>
    <gsr-row class="gsr-row gsr-record-row" *ngFor="let record of records" [record]  = "record" [columnHeaders] = "columnHeaders" [columnHeaderInfo] = "columnHeaderInfo"></gsr-row>
    <div *ngIf="records.length==0" class="noResults">No records found</div>
</ng-container> 