<div class="circle open" *ngIf="type === 'open'"></div>
<div class="circle fail" *ngIf="type === 'fail'"></div>
<div class="arrow-up break" *ngIf="type === 'break'"></div>




<!-- -------EXPAND/COLLAPSE ICON ------- -->
<span  *ngIf="type == 'accordion'"  class="iconStyle" [ngClass] = "(showContent == true) ? 'collapse':'expand'"></span>


<!-- -------SORT ICON ------- -->
<span class="iconWrapper" *ngIf="type === 'sort-des'">
    <span class="arrow-up selected"></span>
    <span class="arrow-down"></span>
</span>
<span class="iconWrapper" *ngIf="type === 'sort-asc'">
    <span class="arrow-up"></span>
    <span class="arrow-down selected"></span>
</span>

<span class="iconWrapper" *ngIf="!type">
        <span class="arrow-up"></span>
        <span class="arrow-down"></span>
</span>

<!-- -------SEARCH ICON ------- -->
<span *ngIf="type === 'search'" class="searchIcon"><i class="material-icons md-18">search</i></span>



<!-- <div class="arrow-up arrow-down" ></div> -->

<span *ngIf="type === 'left-arrow'"><i class="material-icons">keyboard_arrow_left</i></span>
<span *ngIf="type === 'right-arrow'"><i class="material-icons">keyboard_arrow_right</i></span>

