<div class="circle open" *ngIf="type === 'open'"></div>
<div class="circle fail" *ngIf="type === 'fail'"></div>
<div class="arrow-up break" *ngIf="type === 'break'"></div>

<!-- -------EXPAND/COLLAPSE ICON ------- -->
<span  *ngIf="type == 'accordion'"  class="iconStyle" [ngClass] = "(showContent == true) ? 'collapse':'expand'"></span>


<!-- -------SORT ICON ------- -->
<span class="iconWrapper" *ngIf="type === 'sort-des'">
    <span class="arrow-up selected"></span>
    <span class="arrow-down"></span>
</span>
<span class="iconWrapper" *ngIf="type === 'sort-asc'">
    <span class="arrow-up"></span>
    <span class="arrow-down selected"></span>
</span>

<span class="iconWrapper" *ngIf="!type">
        <span class="arrow-up"></span>
        <span class="arrow-down"></span>
</span>

<!-- -------SEARCH ICON ------- -->
<i *ngIf="type === 'search'" class="searchIcon material-icons md-18">search</i>
<!-- PAGINATION ICONS  -->
<i *ngIf="type === 'first-page'" class="material-icons">first_page</i>
<i *ngIf="type === 'last-page'" class="material-icons">last_page</i>
<i *ngIf="type === 'left-arrow'" class="material-icons">chevron_left</i>
<i *ngIf="type === 'right-arrow'" class="material-icons">chevron_right</i>

