
<ng-container [ngSwitch]="type">
<div class="circle open" *ngSwitchCase="'open'"></div>
<div class="circle fail" *ngSwitchCase="'fail'"></div>
<div class="arrow-up break" *ngSwitchCase="'break'"></div>

<!-- -------EXPAND/COLLAPSE ICON ------- -->
<span *ngSwitchCase="'accordion'" class="iconStyle" [ngClass] = "(showContent == true) ? 'collapse':'expand'"></span>


<!-- -------SORT ICON ------- -->
<span class="iconWrapper"  *ngSwitchCase="'sort-des'">
    <span class="arrow-up selected"></span>
    <span class="arrow-down"></span>
</span>
<span class="iconWrapper" *ngSwitchCase="'sort-asc'">
    <span class="arrow-up"></span>
    <span class="arrow-down selected"></span>
</span>

<span class="iconWrapper" *ngIf="!type">
        <span class="arrow-up"></span>
        <span class="arrow-down"></span>
</span>

<!-- -------SEARCH ICON ------- -->
<i *ngSwitchCase="'search'" class="searchIcon material-icons md-18">search</i>
<!-- PAGINATION ICONS  -->
<i *ngSwitchCase="'first-page'" class="material-icons">first_page</i>
<i *ngSwitchCase="'last-page'" class="material-icons">last_page</i>
<i *ngSwitchCase="'left-arrow'" class="material-icons">chevron_left</i>
<i *ngSwitchCase="'right-arrow'" class="material-icons">chevron_right</i>
<i *ngSwitchCase="'close'" class="material-icons">close</i>
<i *ngSwitchCase="'arrow-forward'" class="material-icons side-space">arrow_forward</i>
</ng-container>
