<ng-container *ngIf="columnHeaderInfo.tableType !== 'columnTable'">
  <div class="gsr-table" *ngIf="dataObj">
    <gsr-table-header *ngIf="columnHeaderInfo.tableHeader !== false" [records]="records" [dataObj]="dataObj" (sendFilterRecords)="records=$event"
      [columns]="columnHeaders" (sendFilter)="showFilter=$event" [showFilter]="showFilter" [columnHeaderInfo]="columnHeaderInfo">
    </gsr-table-header>
    <div #tableScroller id="table-scroller" class="gsr-table-scroller dragscroll">

      <gsr-column-header class="column-header" [records]="records" [showFilter]="showFilter" [columnHeaders]="columnHeaders" [dataObj]="dataObj"
        [columnHeaderInfo]="columnHeaderInfo"> </gsr-column-header>

      <gsr-table-level-decider (passClickedColumn) = "passClickedColumn($event)"  class="level-decider" *ngIf="columnHeaderInfo.levelDecider" [records]="records" [columnHeaders]="columnHeaders"
        (sendLevel)="getLevel($event)" (sendFilter)="showFilter=$event" [showFilter]="showFilter" [dataObj]="dataObj" [columnHeaderInfo]="columnHeaderInfo">
      </gsr-table-level-decider>

      <ng-container *ngIf="!columnHeaderInfo.levelDecider">
        <gsr-row class="gsr-row gsr-record-row" [columnHeaders]="columnHeaders" *ngFor="let record of records" [record]="record"
          [columnHeaderInfo]="columnHeaderInfo">
        </gsr-row>
        <div *ngIf="records.length==0" class="noResults">No records found</div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="columnHeaderInfo.tableType === 'columnTable'">
  <div class="gsr-table" *ngIf="dataObj">
    <gsr-table-header *ngIf="columnHeaderInfo.tableHeader !== false" [columnHeaderInfo]="columnHeaderInfo"></gsr-table-header>
    <div class="columnWrapper">
      <div class="columnGroup" *ngFor="let rec of utils.generateArray(dataObj)">
        <div class="gsr-modal-content-column column-label">{{rec.key}}</div>
        <div class="gsr-modal-content-column"> {{rec.value}}</div>
      </div>
    </div>
  </div>
</ng-container>

<gsr-table-pagination [totalRecords] = '2000' [recordsPerPage] = '10' ></gsr-table-pagination>
