<ul class="nav nav-tabs">
  <li *ngFor="let tab of tabs;let in = index;"  class="{{tab.isClicked}}" (click)="selectTab(tab,in)">
    <a href="#">{{tab.title}}</a>
  </li>
</ul>

<!-- <div class="tab-content">

<ng-container *ngIf="tabs[0].isClicked == 'active'">
  <div class="tab-content"></div>
 <button (click)="selectTab(tabs[1])">Run Query</button>
</ng-container>

<ng-container *ngIf="tabs[1].isClicked == 'active'">
  <div class="details-pane" *ngIf="columnHeaderInfo.level === 1">Level 1 details</div>
  <div class="details-pane" *ngIf="columnHeaderInfo.level === 2">Level 2 details of {{icData.id}} No. {{columnHeaderInfo.index}} </div>
  <div class="details-pane" *ngIf="columnHeaderInfo.level === 3">
    Level 3 details  of Company No {{columnHeaderInfo.index + 1}}
  </div>
    <gsr-table *ngIf="!columnHeaderInfo.levelDecider" [columnHeaders] = "columnHeaderInfo.columnHeaders" [dataObj] = "icData" [columnHeaderInfo] = "columnHeaderInfo"></gsr-table>
    <gsr-table *ngIf="columnHeaderInfo.levelDecider" [records] = "records" [columnHeaders] = "columnHeaderInfo.columnHeaders"  (sendLevel)="getLevel(levelDtls=$event)"  [dataObj] = "icData" [columnHeaderInfo] = "columnHeaderInfo"></gsr-table>
</ng-container>
<ng-container *ngIf="tabs[2].isClicked == 'active'">
  <gsr-table [dataObj] = "icData5" [columnHeaderInfo] = "columnHeaderInfo5"></gsr-table>
</ng-container>

</div> -->





