<div class="circle open" *ngIf="type === 'open'"></div>
<div class="circle fail" *ngIf="type === 'fail'"></div>
<div class="arrow-up break" *ngIf="type === 'break'"></div>


<span class="iconWrapper" *ngIf="type === 'sort-default'">
    <span class="arrow-up"></span>
    <span class="arrow-down"></span>
</span>

<span class="iconWrapper" *ngIf="type === 'sort-des'">
    <span class="arrow-up"></span>
</span>
<span class="iconWrapper" *ngIf="type === 'sort-asc'">
    <span class="arrow-down"></span>
</span>
<!-- <div class="arrow-up arrow-down" ></div> -->