/* You can add global styles to this file, and also import other style files */

body{
  font-size:13px;
}

input, textarea, select, button {
  font-size:12px;
}
.level-decider {
  width: 100%;
}

.gsr-row.filter {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gsr-table {
  border: 1px solid rgba(0, 0, 0, .12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  /* font-size: 12px; */
  margin-top: 10px;
}

.gsr-table-scroller {
  overflow: auto;
  /* display:flex; */
  flex-direction: column;
  max-height:300px;
}



.gsr-row {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* padding: 0px 25px; */
  /* display: inline-flex; */
  box-sizing: border-box;
  width:100%;
}

.gsr-record-row:nth-child(odd)>.gsr-column{
  background-color: #ececec;
}

.gsr-row.dynamicHeader {
  background-color: #030464;
  color: white;
  /* padding: 0px 5px; */
  width: 100%;
  box-sizing: border-box;
}

.gsr-row.dynamicHeader .gsr-column {
  flex: 1;
}


.filterInput {
  width: 100%;
}

.material-icons {
  font-size: 18px;
  display: inline-grid;
  vertical-align: bottom;
}

.searchIcon {
  margin-left: 5px;
  cursor: pointer;
}

.gsr-link {
  cursor: pointer;
  margin: 0px 5px;
}

.headerOptions {
  display: flex;
  /* align-items: inherit; */
  justify-content: flex-end;
}

.gsr-column {
  /* flex: 1;  */
  width: 200px;
  word-wrap: break-word;
  padding: 5px;
  flex-shrink: 0;
  box-sizing: border-box;
  transition:0.3s;
}
.gsr-row>.gsr-column{
  border-top: 1px solid #e4e4e4;
  padding: 5px 5px;
  width: 15%;
  /* min-height: 30px; */
  align-items: center;
  display: flex;
  /* border-right: 1px solid #c5c5c5; */
  
}

.gsr-row:last-child>.gsr-column{
  border-bottom: 1px solid #e4e4e4;
}

/* .gsr-row>.gsr-column:not(.gsr-icon-column) {
  padding: 5px 5px;
  width: 15%;
  min-height: 30px;
} */


.gsr-row>.gsr-column.companyColumns {
  padding-left:20px;
}

.level-2 .gsr-column{
  flex:1;
}

/* .gsr-row:before,.gsr-column:before {
  content: "";
  min-height:15px;
  display:inline-block;
} */

.noResults {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.gsr-icon-column {
  width: 30px !important;
}
.gsr-row.gsr-subrow.gsr-row.gsr-record-row > .gsr-column span {
  /* position: relative;
  left: 50px; */
}

.iconStyle {
  min-height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
  background-size: 15px;
  width: 20px;
  vertical-align: bottom;
}

.collapse {
  background-image: url('assets/imgs/collapse.png');
}

.expand {
  background-image: url('assets/imgs/expand.png');
}

.gsr-row.header {
  color: white;
  cursor: pointer;
  /* padding:5px; */
}
.gsr-row.header>div{
  background-color: #757575;
}


.gsr-row.header.level-2 {
  width: 100%;
}

.gsr-row.header.level-2>.gsr-column {
  width: 100%;
  /* text-align: center; */
  justify-content: center;
}

/* 
  .gsr-row.header .gsr-column {
    text-align:center;
  } */

gsr-row:hover > .gsr-column {
  background-color: #98bef7 !important;
}

/* .gsr-table-scroller .gsr-row .gsr-column{
    border:1px solid #fff;
} */

/* scrollbar*/

/* Let's get this party started */

::-webkit-scrollbar, ::-webkit-scrollbar:horizontal {
  width: 12px;
  height: 12px;
  background: rgba(161, 161, 161, 0.2);
}

/* Track */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(173, 172, 172, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(161, 161, 161, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(201, 200, 200, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(44, 44, 44, 0.4);
}

/*scrollbar*/


button {
  border: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid rgb(150, 150, 150);
  color: black;
  background-color: white;
  transition: 0.1s;
  min-width: 70px;
}

button:hover {
  background-color: #3d3e79;
  color: white;
  border: 1px solid white;
  outline: 1px solid #3d3e79;
}


/* modal table details */

.gsr-modal-content-column {
  flex-grow: 1;
  width: 0;
  padding: 5px;
}

.columnGroup {
  display: flex;
  width: 50%;
}

.column-label {
  font-weight: bold;
}

.columnGroup:nth-child(4n+1), .columnGroup:nth-child(4n+2) {
  background-color: #ececec;
}

.columnGroup:nth-child(4n+3), .columnGroup:nth-child(4n+4) {
  background-color: white;
}

.columnWrapper {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.tabsWrapper {
  position: relative;
  min-height:200px;
  max-height:500px;
  /* height:600px; */
  display: flex;
  flex-direction: column;
}

.tab-content {
  padding: 10px;
  max-height: 350px;
  height:400px;
}

.form-group{
  height:75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tab-footer>button {
  display: inline-block;
  margin: 10px;
}

.column-header{
  width:100%;
}

fieldset{
  border-style: solid;
  border-width: 1px;
}


.gsr-modal-content .gsr-table{
  box-shadow: none;
}


.details-pane{
  border:1px solid #c7c7c7;
  border-radius:10px;
  min-height:50px;
  padding:10px;
  display:flex;
  flex-direction: row;
  flex-flow: wrap;
}


.fieldWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: column;
  flex-flow: wrap;
  width: 25%;
  /* padding: 10px; */
  /* border: 1px solid black; */
  /* flex: 1 0 auto; */
}
.fieldWrapper > div{
  display: flex;
  flex-direction: column;
  padding:5px;
}
.fieldWrapper > div.field-label{
  font-weight:bold;
}

gsr-icon{
  display: flex;
  align-items: center;
}

span.iconWrapper > span {
  margin: 1px 0px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid white;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid white;
}

.iconWrapper {
  display: flex;
  margin-left: 3px;
  flex-direction: column;
}





